{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Nginx Dashboard{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
        <link href="{% static 'nginx_dashboard/styles.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{% static 'nginx_dashboard/favicon.ico' %}">
    </head>
    <body>
        <header id="masthead">
            {% block header %}
            {% endblock %}
        </header>
        <div class="container-fluid px-4">
            {% block body %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
